* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background-2);
}

:root {
  --color-background-1: #e10613;
  --color-background-2: #fdfefb;
  --color-font: #ffffff;
  --color-font-2: #585858;
}
